/.idea
.vscode
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*
/Homestead.yaml
/Homestead.json
/npm-debug.log
/yarn-error.log
/yarn-debug.log
/public/hot
/storage/debugbar
/storage/*.key
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
.phpunit.result.cache
/bootstrap/cache/*.php
/.DS_Store
